*/node_modules
/smart-contracts/.env

# Hardhat files
/smart-contracts/cache
/artifacts

# TypeChain files
/smart-contracts/typechain
/smart-contracts/typechain-types

# solidity-coverage files
/smart-contracts/coverage
//coverage.json
