*/node_modules
.env
privateKey.secret
alchemyKey.secret

# foundry files
# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/

# Hardhat files
/cache
/artifacts
/out

# TypeChain files
typechain
typechain-types

# solidity-coverage files
coverage
coverage.json
